body {
    margin: 0;
}

@media (min-device-width:0px) {
    body {
        background-image: url("../public/pexels-pixabay-273153-s.jpg");
    }
}

@media (min-device-width:480px) {
    body {
        background-image: url("../public/pexels-pixabay-273153-m.jpg");
    }
}

@media (min-device-width:960px) {
    body {
        background-image: url("../public/pexels-pixabay-273153-l.jpg");
    }
}

@media (min-device-width:1440px) {
    body {
        background-image: url("../public/pexels-pixabay-273153-xl.jpg");
    }
}

a {
    color: inherit;
    text-decoration: none;
}